
		<!-- Page Information-->
		<div class="container">	
			<h1 class="Title">
			Customer Contact Info
			</h1>
			
				<div id="row">
					<form id ="form1" method="post">
						<h3> Select Customer from drop down: </h3>
						<label for="custDrop"> Existing Customer: </label>
						<select id="custDrop" name="custDrop">
							{{#each data}}
							<option value={{this.customerID}}> {{this.firstName}} {{this.lastName}} {{this.phoneNumber}} {{this.email}}</option>
							{{/each}}
						</select><br>
					</form>
				</div>
				
			<div id="row">
				<h2>Customer Information</h2>
			</div>
			<div id="tableRow">
				
			</div>
			
		</div>
		<div id="container2">
			<img src="./images/IMG_7204.jpeg" class="mediumImage"/>
		</div>
		<script src="customerContact.js"></script>
